In [1]:
import os
import pandas as pd
from PIL import Image

In [2]:
players = {"name":"players"}
enemy1 = {'name':"enemy-1"}
enemy2 = {'name':"enemy-2"}
enemy3 = {'name':"enemy-3"}

In [3]:
players['player-1'] = range(1,26)
players['player-2'] = [26,27,35,36,28,37,29,38,30,31,32,33,34,39,40,41,42,47,43,48,44,49,50,45,46]
players['blast-small'] = [60,61]
players['blast-medium'] = [56,57]
players['blast-large'] = [51]

players['actions'] = ['player-1','player-2','blast-small','blast-medium','blast-large']
players['map'] = pd.read_csv(f'C:/Users/sjege/Documents/GitHub/Project1/assets/sprites/players/players-sprite-map.csv', header=None)
players['map'].rename(columns={0:'SPRITE_NUM',1:'TOP_X',2:'TOP_Y',3:'WIDTH',4:'HEIGHT'})

    SPRITE_NUM  TOP_X  TOP_Y  WIDTH  HEIGHT
0      sprite1     22     14     29      44
1      sprite2     69     14     31      44
2      sprite3    116     14     32      44
3      sprite4    163     14     34      44
4      sprite5    211     14     35      44
..         ...    ...    ...    ...     ...
197  sprite198     81    258      5      13
198  sprite199    195    258      1       1
199  sprite200    125    260     11      11
200  sprite201    422    261      3       5
201  sprite202    261    262      3       4

[202 rows x 5 columns]

In [4]:
enemy1['moving'] = [1,9,10,11,2,12,13,3,4,5,14,6,7,8,15,22,23,24,16,17,18,25,26,19,20,21,27,28,29,35,36,37,30,38,39,40,31,41,42,32,33,34,51,43,44,45,46,52,53,54,47,48,49,55,56,50,57,58,60,61,59,62,63,64]

enemy1['actions'] = ['moving']
enemy1['map'] = pd.read_csv(f'C:/Users/sjege/Documents/GitHub/Project1/assets/sprites/enemy-1/enemy-1-sprite-map.csv', header=None)
enemy1['map'].rename(columns={0:'SPRITE_NUM',1:'TOP_X',2:'TOP_Y',3:'WIDTH',4:'HEIGHT'})

    SPRITE_NUM  TOP_X  TOP_Y  WIDTH  HEIGHT
0      sprite1     13     16     42      42
1      sprite2    206     16     39      42
2      sprite3    352     16     33      42
3      sprite4    401     16     31      42
4      sprite5    451     16     27      42
..         ...    ...    ...    ...     ...
118  sprite119    453    248      8       9
119  sprite120    462    248      7       9
120  sprite121    507    248      7       8
121  sprite122    517    248      8       9
122  sprite123    526    248      8       9

[123 rows x 5 columns]

In [5]:
enemy2['moving'] = [22]

enemy2['actions'] = ['moving']
enemy2['map'] = pd.read_csv(f'C:/Users/sjege/Documents/GitHub/Project1/assets/sprites/enemy-2/enemy-2-sprite-map.csv', header=None)
enemy2['map'].rename(columns={0:'SPRITE_NUM',1:'TOP_X',2:'TOP_Y',3:'WIDTH',4:'HEIGHT'})

    SPRITE_NUM  TOP_X  TOP_Y  WIDTH  HEIGHT
0      sprite1     45     20     91      79
1      sprite2    171     20     96      79
2      sprite3    297     20    100      79
3      sprite4    423     20    104      79
4      sprite5    549     20    107      79
..         ...    ...    ...    ...     ...
101  sprite102    726    520     22       9
102  sprite103    597    522      6       6
103  sprite104    604    522      6       7
104  sprite105    611    522      6       7
105  sprite106    625    522      6       7

[106 rows x 5 columns]

In [6]:
enemy3['moving'] = [141]

enemy3['actions'] = ['moving']
enemy3['map'] = pd.read_csv(f'C:/Users/sjege/Documents/GitHub/Project1/assets/sprites/enemy-3/enemy-3-sprite-map.csv', header=None)
enemy3['map'].rename(columns={0:'SPRITE_NUM',1:'TOP_X',2:'TOP_Y',3:'WIDTH',4:'HEIGHT'})

    SPRITE_NUM  TOP_X  TOP_Y  WIDTH  HEIGHT
0      sprite1    102     20      8      15
1      sprite2    130     20      3       3
2      sprite3    134     20      6      14
3      sprite4    165     20     11      15
4      sprite5    190     20      2      14
..         ...    ...    ...    ...     ...
141  sprite142     95    245     48      52
142  sprite143    284    245     49      51
143  sprite144    347    245     49      50
144  sprite145    157    246     49      51
145  sprite146    990    246     52      48

[146 rows x 5 columns]

In [7]:
characters = [players,enemy1,enemy2,enemy3]

### Function to create action images

In [8]:
def extract_sprites(character):
    name = character['name']
    actions = character['actions']
#     character['map'] = pd.read_csv(f'./sprites/{name}/{name}-map.csv')
    for action in actions:
        action_num = 1
        for sprite_idx in character[action]:
            _,left,upper,width,height = character['map'].iloc[sprite_idx-1]
            right=left+width
            lower=upper+height
            im = Image.open(f"C:/Users/sjege/Documents/GitHub/Project1/assets/sprites/sprite-sheets/{name}-transparent.png").crop((left, upper, right, lower))
            im.save(f"C:/Users/sjege/Documents/GitHub/Project1/assets/sprites/{name}/{name}-{action}-{action_num}.png")
            action_num+=1

In [9]:
for character in characters:
    extract_sprites(character)

## Practice and Scratchwork

In [10]:
# _,left,upper,width,height = goku_map_df.iloc[0]
# right=left+width
# lower=upper+height
# im = Image.open("./sprites/goku/goku-spritesheet-transparent.png").crop((left, upper, right, lower))
# display(im)
# im1
# display(im)

In [11]:
# im.save("./sprites/goku/goku-idle-1.png")